@model CineCheck.Models.Showtime

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Showtime</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Model.StartTime.ToString("g")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd class="col-sm-10">
            @Model.Movie?.Title ?? "N/A"
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cinema)
        </dt>
        <dd class="col-sm-10">
            @Model.Cinema?.Name ?? "N/A"
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
