@model IEnumerable<CineCheck.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center my-4">Your Bookings</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-bordered table-hover shadow-sm">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.UserId)</th>
            <th>@Html.DisplayNameFor(model => model.NumberOfTickets)</th>
            <th>Movie</th>
            <th>Cinema</th>
            <th>Showtime</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.NumberOfTickets</td>
                <td>@(item.Movie?.Title ?? "Unknown")</td>
                <td>@(item.Cinema?.Name ?? "Unknown")</td>
                <td>@(item.Showtime?.StartTime.ToString("g") ?? "Unknown")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info mx-1">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
